* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}
/* 共通，凡是在版面中心的都可以使用 */

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    /* 会层叠.w里的margin，所以要加auto */
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}
/* 不给宽度，将来可以继续添加 */
 
.nav ul li{
    float: left;
}
/* 给li而不是a加浮动，因为li是块元素，a是行内元素 */

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after { 
content:"";
display:table;
}

.clearfix:after {
clear:both; 
}

.clearfix {
   *zoom:1;
}
/* 清除浮动 */

.nav ul li a{
    display: block;
    /* 不懂 */
    height: 42px; 
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}
/* 导航栏内文字不一样多，所以用padding撑开盒子 */

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    margin-left: 70px;
    float: left;
    width: 412px;
    height: 42px;
}
  
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    /* 右边不加边框 */
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: blue; */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    margin-right: 30px;
    
}

.user p {
    float: right;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner.png) no-repeat top center;
}
/* 不平铺，水平居中 */

.subnav {
    float: left;
    height: 421px;
    width: 190px;
    background-color: rgba(0,0,0,0.3);
    /* 或者background-color: black;
          opacity: 0.3; */
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}


.subnav ul li a {
    font-size: 16px;
    color: #fff;
}

.subnav ul li span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 320px;
    background-color: #fff;
    margin-top: 50px;
    /* 浮动的盒子不会有外边距塌陷的问题 */
}

.course h2 {
    width: 230px;
    height: 48px;
    background-color: #9bceea;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e; 
}

.bd ul li p {
    font-size: 14px;
    color: #a5a5a5; 
}

.bd .more {
    margin-top: 5px;
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    /* display用inline-block需要设宽度 */
}

.goods {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
    margin-top: 10px;
    line-height: 60px;
    /* 行高会继承 */
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods li {
    float: left;
}

.goods li a {
    padding: 0 30px;
    color: #050505;
    font-size: 16px;
    border-left: 2px solid #ccc;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box  {
    margin-top: 30px;
}

.box .box-hd {
    height: 45px;
}

.box .bo x-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1225px;
}
/* 把li的父亲ul修改的足够宽，一行能装5个li就不会换行了 */
/* 最后面li的margin-right不用清零 */

.box-bd ul li {
    float: left;
    height: 270px;
    width: 228px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 425px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}

.copyright {
    float: left;
}

.copyright p {
    padding: 20px 0 15px 0;
    font-size: 12px;
    color: #666;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    font-size: 16px;
    line-height: 32px;

}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a{
    font-size: 12px;
    color: #333;
}
